@import "../../_common/variables";

#searchform {
  .icon-search {
    font-size: 40px;
    margin-right: 20px;
  }

  p {
    font-size: 30px;
    color: white;
  }

  .btn {
    margin-left: 20px;
    background-color: $gold;
    color: $black;
    transition: .3s all linear;

    &:hover {
      background-color: $black;
      color: $gold;
    }
  }
}